{% extends 'main.html' %}

{% block title %} OTS- Login Form {% endblock %}
{% block top %}
<a href="{% url 'OTS:registrationForm' %}">Sign Up</a>
{% endblock %}

{% block content %}
    <div class="all-form">
        {% if loginError %}
            <div id="error">{{loginError}}</div>
        {% endif %}
        <form action="{% url 'OTS:login' %}" method="post">
            {% csrf_token %}
            <div class="form-unit">
                <label for="username">Username</label>
                <input type="text" name="username">
            </div>
            <div class="form-unit">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <div class="form-unit">
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </div>
        </form>
        New user, <a href="{% url 'OTS:registrationForm' %}">Click here</a>
    </div>
{% endblock %}