* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--theme-body);
    color: bla;
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --theme-body: rgba(255, 255, 255, 0.975);
    --theme-red: rgb(226, 43, 67);
    --theme-underline: rgb(164, 
    19, 60);
    --theme-button: rgb(240, 70, 92);
    --theme-footer: rgba(245, 228, 228, 0.975);
    --theme-into: black;
}

.dark-theme{
    
    --theme-body: #3F2E3E;
    --theme-red: rgb(247, 246, 246);
    --theme-underline: rgba(255, 255, 255, 0.975);
    --theme-button: rgb(240, 70, 92);
    --theme-footer: #331D2C;
    --theme-into: rgb(232, 82, 102);
    
}

#icon{
    display: flex;
    width: 30px;
    margin-left: 580px;
    cursor: pointer;
}

.cer1{
    display: flex;
    margin: 23px 0;
    padding-top: 60px;
    padding-left: 150px;
    padding-bottom: 30px;
    width: 35%;
    padding-right: 55px;
}

.headline1{
    display: flex;
    margin-left: 50px;
    padding-top: 50px;
    color: var(--theme-red);
    text-decoration: underline;
    font-size: 20px;
}

.cer2{
    display: flex;
    margin: 23px 0;
    padding-top: 60px;
    padding-left: 150px;
    padding-bottom: 30px;
    width: 35%;
    padding-right: 55px;
}

.headline2{
    display: flex;
    margin-left: 50px;
    padding-top: 50px;
    color: var(--theme-red);
    text-decoration: underline;
    font-size: 20px;
}

.cer3{
    display: flex;
    margin: 23px 0;
    padding-top: 60px;
    padding-left: 150px;
    padding-bottom: 30px;
    width: 35%;
    padding-right: 55px;
}

.headline3{
    display: flex;
    margin-left: 50px;
    padding-top: 50px;
    color: var(--theme-red);
    text-decoration: underline;
    font-size: 20px;
}

.cer4{
    display: flex;
    margin: 23px 0;
    padding-top: 60px;
    padding-left: 150px;
    padding-bottom: 30px;
    width: 35%;
    padding-right: 55px;
}

.headline4{
    display: flex;
    margin-left: 50px;
    padding-top: 50px;
    color: var(--theme-red);
    text-decoration: underline;
    font-size: 20px;
}

.cer1 .photo img{
    display: flex;
    height: 750px;
    border-radius: 3rem;
    border: 5px var(--theme-into);
    border-style: dashed;
}

.cer2 .photo img{
    display: flex;
    height: 750px;
    border-radius: 3rem;
    border: 5px var(--theme-into);
    border-style: dashed;
}

.cer3 .photo img{
    display: flex;
    height: 750px;
    border-radius: 3rem;
    border: 5px var(--theme-into);
    border-style: dashed;
}

.cer4 .photo img{
    display: flex;
    height: 750px;
    border-radius: 3rem;
    border: 5px var(--theme-into);
    border-style: dashed;
}