* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --theme-body: rgba(187, 248, 239, 0.975);
    --theme-red: rgb(226, 43, 67);
    --theme-underline: white;
    --theme-button: rgb(240, 70, 92);
    --theme-footer: rgba(245, 228, 228, 0.975);
    --theme-into: rgb(255, 229, 84);
}

#theme-icon{
    width:30px;
    margin-left: 1220px;
    cursor: pointer;
    padding: 20px;
}

.contact{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(contactpage.jpg);
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 21px;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: var(--theme-into);
    text-decoration: underline;
    margin-bottom: 35px;
    margin-top: 35px;
}

.content p{
    font-weight: 400;
    color: var(--theme-underline);
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.container h3{
    margin-top: 3px;
    margin-left: 5px;
    color: var(--theme-into);
    text-decoration: underline;
}

.container p{
    margin-top: 15px;
    color: var(--theme-underline);
}

.container .contactInfo .box{
    position: relative;
    display: flex;
    padding: 20px 0;
}

.box .icon img{
    display: flex;
    margin-right: 5px;
    width: 30px;
    background: #fff;
    justify-content: center;
    border-radius: 20%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight:500px;
}

.container .contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 7px;
    border: dotted;
}

.contactForm h3{
    font-size: 28px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.contactForm span{
    color: black;
}

.contact .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,textarea{
    padding: 5px 0;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    Left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span, .contactForm .inputBox input:valid ~ span, .contactForm .inputBox textarea:focus ~ span, .contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}


.contact .container .contactForm button{
    width: 100px;
    background: #22cfe6;
    color: white;
    border: dotted;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 7px;
}

.contact .container .contactForm button:hover{
    color: black;
    border: dotted white;
    background: #00aad4eb;
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,.contactForm{
        width:100%;
    }
}