body {
    background-color: var(--theme-body);
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

:root{
    --theme-body: rgba(255, 255, 255, 0.975);
    --theme-red: rgb(226, 43, 67);
    --theme-underline: rgb(164, 
    19, 60);
    --theme-button: rgb(240, 70, 92);
    --theme-footer: rgba(245, 228, 228, 0.975);
    --theme-into: black;
}

.dark-theme{
    
    --theme-body: #3F2E3E;
    --theme-red: rgb(240, 70, 92);
    --theme-underline: rgba(255, 255, 255, 0.975);
    --theme-button: rgb(240, 70, 92);
    --theme-footer: #331D2C;
    --theme-into: rgb(227, 216, 216);
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: var(--theme-body);
    /*position: fixed;*/
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: var(--theme-red);
    margin: 0 23px;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--theme-underline);
    margin: 0 23px;
    font-size: 1.4rem;
}

#icon{
    width: 30px;
    cursor: pointer;
    padding-right: 10px;
}

header hr{
    border: 0;
    background: var(--theme-red);
    height: 1.2px;
    margin: 10px 150px;
}

.left {
    font-size: 1.7rem;
    padding-right: 85px;
}

.left a{
    text-decoration: none;
    color: var(--theme-red);
}

.left a:hover {
    text-decoration: underline var(--theme-underline);
    color: var(--theme-underline);
    margin: 0 23px;
    font-size: 1.8rem;
}

.firstSec {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 50px;
}

.firstSec>div {
    width: 40%;
}

.leftSec {
    width: 34px;
    font-size: 2rem;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
}

.leftSec .btn {

    background-color: var(--theme-button); 
    border-radius: 100px;
    box-shadow: rgba(187, 44, 104, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 92, 187, 0.15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,
    rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,
    rgba(44, 187, 99, .15) 0 16px 32px;
    
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    font-size: 1.5rem;
    margin-top: 105px;
    margin-right: 23px;
    padding: 12px;
    justify-content: space-evenly;
    color: rgb(111, 12, 149);
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

.leftSec .btn a {
    text-decoration: none;
    color: wheat;
    
}

.leftSec .btn a:hover {
    text-decoration: underline;
    color: var(--theme-body);
}

.rightSec img {
    display: flex;
    width: 420px;
    padding-left: 67px;
}

.white {
    color: var(--theme-red);
    font-size: 2.5rem;
}

.intro {
    padding-bottom: 10px;
    color: var(--theme-into);
}

.name {
    padding-bottom: 10px;
    font-weight: 600;
}
.i_am{
    padding-bottom: 10px;
    color: var(--theme-into);
}
.job {
    font-size: 2.5rem;
    color: var(--theme-red);
}

main hr {
    border: 0;
    background: var(--theme-red);
    height: 1.5px;
    margin: 60px 84px;
}

.secondSec {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSec h1 {
    font-size: 1.9rem;
    color: var(--theme-into);
}

.text-gray {
    color: var(--theme-red);

}

.secondSec .box {
    background: var(--theme-red);
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSec .vertical {
    height: 93px;
    width: 1px;
    background-color: var(--theme-red);
    margin: 0 100px;
}


.vertical-title {
    position: relative;
    top: 100px;
    width: 150px;
    right: 40px;
    font-size: 20px;
    font-weight: 600;
    color: var(--theme-into);
}

.vertical-desc {
    position: relative;
    top: 116px;
    color: var(--theme-red);
    width: 150px;
    font-size: 14px;
    right: 40px;
}

.image-top {
    width: 25px;
    position: relative;
    top: -32px;
    left: -11px;
}

.image-down {
    width: 103px;
    position: relative;
    top: 75px;
    left: -35px;
}

footer hr{
    border: 0;
    background: var(--theme-red);
    height: 1.2px;
    margin: 10px 224px;
    
}

footer {
    background-color: var(--theme-footer);
}

.footer {
    display: flex;
    padding: 23px 122px;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 300px;
}

.footer-rights {
    text-align: center;
    color: var(--theme-red);
    padding: 12px 0;
}

.footer-first h3{
    padding-right: 43px;
    left: 34px;
    color: var(--theme-into);
}

.footer-second{
    padding-right: 35px;
}

.footer .footer-second ul li {
    list-style: none;
}

.footer .footer-second ul li a {
    text-decoration: none;
    color: var(--theme-into);
}

.footer .footer-second ul li a:hover {
    text-decoration: none;
    color: var(--theme-red);
}

.footer-third{
    padding-left: 53px;
    padding-right: 73px;
}

.footer .footer-third ul li {
    list-style: none;
}

.footer .footer-third ul li a {
    text-decoration: none;
    color: var(--theme-into);
}

.footer .footer-third ul li a:hover {
    text-decoration: none;
    color: var(--theme-red);
}

.logo {
    width: 20px;
    position: relative;
    top: 1px;
    left: -2px;
}

/*.phone-logo {
    height: 16px;
    position: relative;
    top: 5px;
    left: -2px;
}*/

.mail-logo{
    height: 21px;
    position: relative;
    top: 1px;
    left: -2px;
}

.mail{
    display: flex;
}

.mail-d{
    padding: 23px;
}

.footer .footer-fourth .home {
    text-decoration: underline;
    color: var(--theme-red);
    padding-bottom: 22px;
}

.footer .footer-fourth{
    left: -144px;
}

.map-icon {
    width: 25px;
    position: relative;
    top: 5px;
    left: -2px;
}

.footer .footer-fourth .home1{
    color: var(--theme-into);
}

.about{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.about>.myimg {
    width: 40%;
}

.leftabt {
    width: 100%;
    font-size: 1.4rem;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 0;
}

.leftabt .desc{
    width:70%;
    color: var(--theme-into);
}

.leftabt a{
    text-decoration: underline;
    color: var(--theme-into);
}

.leftabt .me{
    display: flex;
    font-size: 45px;
    font-weight: 550;
    margin-top:0px;
    margin-bottom: 45px;
    padding-bottom: 50px;
    top: -32px;
    color: var(--theme-red);
}

.myimg{
    display: flex;
    margin: 23px 0;
    padding-top: 140px;
    width: 35%;
    padding-right: 55px;
}

.myimg img {
    display: flex;
    /*height: 450px;*/
    width: 350px;
    top: -32px;
    bottom: 45px;
    border-radius: 3rem;
    border: 8px double var(--theme-red);
}

